@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

* {
    font-family: 'Fira Code', monospace;
    background-color: #282C33;
    color: #ABB2BF;
}

.menu_span {
    color: #59F268;
    font-size: 20px;
}

.nav_menu_item {
    font-size: 18px;
}

.nav_menu_li {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.nav_menu_item:hover {
    text-decoration: underline;
    text-decoration-color: #59F268;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.mobile_menu_span {
    color: #59F268;
    font-size: 28px;
    background-color: transparent;
}

.mobile_nav_menu_item {
    font-size: 24px;
    background-color: transparent;
}

.mobile_nav_menu_li {
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: transparent;
}
